* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Poppins;
  background-color: #faf4ea;
  color: #31261a;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
@media (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}

button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  color: #faf4ea;
}

a {
  font-family: Poppins;
  font-style: normal;
  color: #faf4ea;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.accent {
  color: #819b57;
  font-size: inherit;
}
.accent--shadow {
  text-transform: uppercase;
}
.accent--brown {
  color: #a18268;
  font-size: 14px;
}

.decorativ-img {
  display: none;
}

.call-button {
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid #819b57;
  background: #819b57;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.2s;
}
.call-button:hover {
  background-color: #faf4ea;
  color: #819b57;
  cursor: pointer;
}
.call-button:active {
  color: #465929;
}
@media (max-width: 1000px) {
  .call-button {
    padding: 16px 24px;
  }
}

.header--scrolled-green .call-button {
  background-color: #faf4ea;
  color: #819b57;
}
.header--scrolled-green .call-button:hover {
  background-color: #819b57;
  color: #faf4ea;
  border: 1px solid #faf4ea;
}
.header--scrolled-green .call-button:active {
  color: #cfcfbc;
}
@media (max-width: 1000px) {
  .header--scrolled-green .call-button {
    padding: 16px 24px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  width: 100%;
  z-index: 1;
  transition: background-color 0.9s ease;
  padding: 12px 0;
}
.header__svg-burger {
  display: none;
}
.header__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 4vw;
}
.header__item > a:hover {
  color: #819b57;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
.header__burger span {
  height: 3px;
  width: 80%;
  transform: scale(1);
  background-color: #faf4ea;
  transition: width 0.1s;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #faf4ea;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger:hover span {
  width: 100%;
  background-color: #cfcfbc;
}
.header__burger:hover::before, .header__burger:hover::after {
  background-color: #cfcfbc;
}
.header--scrolled {
  background-color: #faf4ea;
}
.header--scrolled .header__svg {
  fill: #819b57;
}
.header--scrolled .header__svg path {
  fill: #819b57;
}
.header--scrolled .header__item > a {
  color: #819b57;
}
.header--scrolled .header__item > a:hover {
  color: #465929;
}
.header--scrolled .header__burger span {
  background-color: #819b57;
}
.header--scrolled .header__burger::before, .header--scrolled .header__burger::after {
  background-color: #819b57;
}
.header--scrolled .header__burger:hover span, .header--scrolled .header__burger:hover::after, .header--scrolled .header__burger:hover::before {
  background-color: #465929;
}
.header--scrolled-green {
  background-color: #819b57;
}
.header--scrolled-green .header__svg {
  fill: #faf4ea;
}
.header--scrolled-green .header__svg path {
  fill: #faf4ea;
}
.header--scrolled-green .header__item > a {
  color: #faf4ea;
}
.header--scrolled-green .header__item > a:hover {
  color: #cfcfbc;
}

@media (max-width: 900px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__call-button {
    display: none;
  }
  .header--active {
    padding-top: 24px;
    padding-left: 24px;
    width: 100%;
    height: 100%;
    background-color: #faf4ea;
  }
  .header--active .header__svg {
    fill: #819b57;
  }
  .header--active .header__svg path {
    fill: #819b57;
  }
  .header--active .header__item > a {
    color: #819b57;
  }
  .header--active .header__item > a:hover {
    color: #465929;
  }
  .header--active .header__burger span {
    background-color: #819b57;
  }
  .header--active .header__burger::before, .header--active .header__burger::after {
    background-color: #819b57;
  }
  .header--active .header__burger:hover span, .header--active .header__burger:hover::after, .header--active .header__burger:hover::before {
    background-color: #465929;
  }
  .header--active .decorativ-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .header--active .header__nav {
    flex-direction: column;
    align-items: start;
  }
  .header--active .header__nav .header__list {
    align-items: flex-start;
  }
  .header--active .header__burger {
    align-self: flex-start;
  }
  .header--active .header__burger .header__svg {
    fill: #819b57;
  }
  .header--active .header__burger .header__svg path {
    fill: #819b57;
  }
  .header--active .header__burger .header__item > a {
    color: #819b57;
  }
  .header--active .header__burger .header__item > a:hover {
    color: #465929;
  }
  .header--active .header__burger .header__burger span {
    background-color: #819b57;
  }
  .header--active .header__burger .header__burger::before, .header--active .header__burger .header__burger::after {
    background-color: #819b57;
  }
  .header--active .header__burger .header__burger:hover span, .header--active .header__burger .header__burger:hover::after, .header--active .header__burger .header__burger:hover::before {
    background-color: #465929;
  }
  .header--active .header__burger span {
    transform: scale(0);
    background-color: #819b57;
  }
  .header--active .header__burger::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
    background-color: #819b57;
  }
  .header--active .header__burger::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
    background-color: #819b57;
  }
  .header--active .header__list {
    display: flex;
    flex-direction: column;
  }
  .header__list {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}
.modern-bakery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../../images/couple-in-bakery.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: calc(100vh - 52px);
}
.modern-bakery__title {
  text-align: center;
  font-size: 9vw;
  font-weight: 900;
  color: #faf4ea;
  margin: 0;
}
.modern-bakery__call-button {
  display: none;
}

.advantages {
  background: #819b57;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: #faf4ea;
  gap: 6vw;
  padding: 16px 0;
}

.new-traditions {
  margin-top: 80px;
}
.new-traditions .container {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.new-traditions__info {
  max-width: 526px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.new-traditions__title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
  margin: 0;
  margin: 0;
}
.new-traditions__logo img {
  border-radius: 400px 400px 0px 0px;
}

.best-chefs {
  margin-top: 80px;
}
.best-chefs .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.best-chefs__title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
  margin: 0;
}
.best-chefs__title::after {
  display: block;
  content: "";
  width: 25%;
  height: 2px;
  background: #cfcfbc;
}
.best-chefs__title::before {
  display: block;
  content: "";
  width: 25%;
  height: 2px;
  background: #cfcfbc;
  position: relative;
  left: 72vw;
  top: 170px;
}
.best-chefs__list {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.best-chefs__item {
  flex: 1;
}

.chef {
  display: flex;
  gap: 20px;
}
.chef__photo {
  flex: 50%;
}
.chef__photo img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: #faf4ea -16px 16px 0 0, #cfcfbc -16px 16px 0px 2px;
  width: 100%;
}
.chef__info {
  flex: 50%;
}
@media (max-width: 900px) {
  .chef__photo {
    flex: 40%;
  }
  .chef__info {
    flex: 60%;
  }
}

.formats {
  margin-top: 80px;
}
.formats .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.formats__title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
  margin: 0;
  line-height: normal;
}
.formats__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.formats__item {
  display: flex;
  height: 444px;
  padding: 24px;
  flex-basis: calc((100% - 40px) / 3);
  border-radius: 16px;
}
.formats .image-walrus {
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 30%, rgba(49, 38, 26, 0.71) 70%, #31261a 100%), url(../../images/walrus-format.jpg) center/cover;
}
.formats .image-horseshoe {
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 30%, rgba(49, 38, 26, 0.71) 70%, #31261a 100%), url(../../images/horseshoe-format.jpg) center/cover;
}
.formats .image-handlebar {
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 30%, rgba(49, 38, 26, 0.71) 70%, #31261a 100%), url(../../images/handlebar-format.jpg) center/cover;
}
.formats .format {
  display: flex;
  flex-direction: column;
  padding-top: 220px;
  color: #faf4ea;
  gap: 16px;
}
.formats .format * {
  margin: 0 0;
}
.formats .format__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 900px) {
  .formats__item {
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    min-width: 349px;
  }
}

.bakery-network {
  margin: 80px 0;
}
.bakery-network .container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.bakery-network__title {
  line-height: normal;
  font-size: 220%;
  padding-bottom: 20px;
}
.bakery-network__info, .bakery-network__map {
  flex: 50%;
}
.bakery-network__iframe {
  width: 100%;
}
@media (max-width: 900px) {
  .bakery-network .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

.call-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 0;
}
.call-form__input {
  color: #a18268;
  background-color: #faf4ea;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #a18268;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}
.call-form__input:focus {
  border-color: #31261a;
}
.call-form__input::-moz-placeholder {
  color: #7e7272;
}
.call-form__input::placeholder {
  color: #7e7272;
}

.footer {
  padding: 24px 0;
  background-color: #31261a;
  background-image: url(../../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer a {
  font-size: 16px;
  font-weight: 300;
}
.footer a:hover {
  color: #819b57;
}
.footer a:hover svg path {
  fill: #819b57;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .privacy-policy {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.footer .contacts__item--svg {
  display: flex;
  gap: 16px;
}

@media (max-width: 900px) {
  .title {
    text-align: center;
    font-size: 48px;
    margin: 0;
    line-height: normal;
  }
  .modern-bakery {
    height: 100vh;
  }
  .modern-bakery__title {
    text-align: center;
    font-size: 64px;
  }
  .modern-bakery__call-button {
    display: block;
    margin: 32px auto 0 auto;
  }
  .advantages {
    background: #faf4ea;
  }
  .advantages .advantages__list {
    display: flex;
    flex-direction: column;
    background: #cfcfbc;
    font-weight: 300;
    color: #faf4ea;
    gap: 6vw;
    padding: 32px;
    border-radius: 24px;
    margin: 24px;
  }
  .new-traditions__title {
    text-align: start;
  }
  .new-traditions__logo {
    display: none;
  }
  .best-chefs__title::before {
    left: 72vw;
    top: 112px;
  }
  .best-chefs__list {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */