@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-size: 18px;
}
@media (min-width: 1400px) {
  * {
    font-size: 22px;
  }
}

body {
  font-family: Poppins;
  background-color: #FAF4EA;
  padding: 0;
  margin: 0;
}

button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  color: #FAF4EA;
}

a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  color: #FAF4EA;
  text-decoration: none;
  color: #FAF4EA;
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.accent {
  color: #819B57;
}

.call-button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  background: #819B57;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.call-button:hover {
  background-color: #FAF4EA;
  color: #819B57;
  cursor: pointer;
}
.call-button:active {
  color: #738b4e;
}
@media (max-width: 1000px) {
  .call-button {
    padding: 16px 24px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  width: 100%;
  z-index: 1;
  transition: background-color 0.9s ease;
}
.header__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 4vw;
}
.header__item > a:hover {
  color: #819B57;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header--scrolled {
  background-color: #FAF4EA;
  padding-top: 0;
  padding: 8px 0;
}
.header--scrolled .logo-svg {
  fill: #819B57;
}
.header--scrolled .header__item > a {
  color: #819B57;
}
.header--scrolled .header__item > a:hover {
  color: #667a45;
}
.header--scrolled-green {
  background-color: #819B57;
  padding-top: 0;
  padding: 5px 0;
}
.header--scrolled-green .logo-svg {
  fill: #FAF4EA;
}
.header--scrolled-green .header__item > a {
  color: #FAF4EA;
}
.header--scrolled-green .header__item > a:hover {
  color: #f5e9d5;
}

.modern-bakery {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../../images/couple-in-bakery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modern-bakery__title {
  text-align: center;
  font-weight: 900;
  color: #FAF4EA;
  margin: 0;
  padding: 20% 0;
}
.modern-bakery__title > span {
  font-size: 9vw;
}

.advantages {
  background: #819B57;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: #FAF4EA;
  gap: 6vw;
  padding: 16px 0;
}/*# sourceMappingURL=style.css.map */