.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  width: 100%;
  z-index: 1;
  transition: background-color 0.9s ease;
  padding: 12px 0;

  &__svg-burger {
    display: none;
  }
  
  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;

    gap: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    gap: 4vw;
  }

  &__item > a {
    &:hover {
      color: $color-primary-green;
    }
  }

  &-container {
    display: flex;
    align-items: center;

    gap: 40px;
  }

  &__burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    cursor: pointer;

    span {
      height: 3px;
      width: 80%;
      transform: scale(1);
      background-color: $color-primary-light;
      transition: width 0.1s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $color-primary-light;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      span {
        width: 100%;
        background-color: $color-secondary-light;
      }

      &::before,
      &::after {
        background-color: $color-secondary-light;
      }
    }
  }

  &--scrolled {
    background-color: $color-primary-light;

   @include greenTextHeader;
  }

  &--scrolled-green {
    background-color: $color-primary-green;

    .header__svg {
      fill: $color-primary-light;

      path {
        fill: $color-primary-light;
      }
    }

    .header__item > a {
      color: $color-primary-light;

      &:hover {
        color: $color-secondary-light;
      }
    }
  }
}
