.footer {
  width: 100%;
  padding: 24px 0;
  background-color: $color-primary-brown;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a {
    font-size: 16px;
    font-weight: 300;

    &:hover {
      color: $color-primary-green;

      svg path {
        fill: $color-primary-green;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .privacy-policy {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }

  .contacts__item {
    &--svg {
      display: flex;
      gap: 16px;
    }
  }
}
