.new-traditions {
  width: 100%;
  margin-top: 80px;

  .container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
  }

  &__info {
    max-width: 526px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__title {
    @include title;
    margin: 0;
  }

  &__logo img {
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;
    border-radius: 400px 400px 0px 0px;
  }
}
