@import "../base/mixin";
@import "../base/variable";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $color-primary-light;
  color: $color-primary-brown;

  padding: 0;
  margin: 0;

  font-size: 18px;

  @media (min-width: 1400px) {
    font-size: 22px;
  }
}

button {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight-m;
  color: $color-primary-light;
}

a {
  font-family: $font-family;
  font-style: $font-style;
  color: $color-primary-light;

  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.accent {
  color: $color-primary-green;
  font-size: inherit;

  &--shadow {
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
  }

  &--brown {
    color: $color-secondary-brown;
    font-size: 14px;
  }
}

.decorativ-img {
  display: none;
}
