@import "../base/mixin";
@import "../base/variable";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $color-primary-light;
  color: $color-primary-brown;

  padding: 0;
  margin: 0;

  font-size: 18px;

  @media (min-width: 1400px) {
    font-size: 22px;
  }
}

button {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight-m;
  color: $color-primary-light;
}

a {
  font-family: $font-family;
  font-style: $font-style;
  color: $color-primary-light;

  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.accent {
  color: $color-primary-green;
  font-size: inherit;

  &--shadow {
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
  }

  &--brown {
    color: $color-secondary-brown;
    font-size: 14px;
  }
}

.decorativ-img {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  @media (max-width: 900px) {
    .modal__title {
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin-bottom: 10px;
    }

    .modal__info {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 84px; /* 131.25% */
    margin: 0;
  }

  &__info {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 32px;
  }

  .modal-content {
    background-color: $color-primary-light;
    padding: 80px;
    border: 1px solid #888;
    border-radius: 32px;
    width: 800px;
    position: relative;

    @media (max-width: 900px) {
      padding: 40px;
    }
  }

  .close {
    display: block;
    position: absolute;
    right: 35px;
    top: 35px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    @media (max-width: 900px) {
      top: 25px;
    }
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .call-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__button {
      width: 50%;
      align-self: center;
    }

    &__img {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .call-form__input {
    color: $color-secondary-brown;
    background-color: $color-primary-light;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $color-secondary-brown;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }

  .call-form__input:focus {
    border-color: $color-primary-brown;
  }

  .call-form__input::placeholder {
    color: #7e7272;
  }
}
