$font-family: Poppins;
$font-size: 18px;
$font-size-m: 22px;
$font-style: normal;
$font-weight-l: 900;
$font-weight-m: 600;
$font-weight-s: 400;
$line-height: normal;

$color-primary-light: #faf4ea;
$color-primary-brown: #31261a;
$color-primary-green: #819b57;
$color-secondary-brown: #a18268;
$color-secondary-light: #cfcfbc;
$color-secondary-green: #465929;

