.call-button {
  padding: 16px 32px;

  border-radius: 8px;
  border: none;

  background: $color-primary;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-background;
    color: $color-primary;
    cursor: pointer;
  }

  &:active {
    color: darken($color-primary, 5%); 
  }

  @media (max-width: 1000px) {
    padding: 16px 24px; 
  }
}
